---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/slider/Slider.astro'
import Product from '../components/product/Product.astro'
---

<Layout title="Welcome to Astro.">
		<div class="w-full py-1 px-2">
		<Slider/>
		</div>
		<Product/>
</Layout>

