---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/slider/Slider.astro'
import Header from '../components/header/Header.astro'
import Product from '../components/product/Product.astro'
---

<Layout title="Welcome to Astro.">
	<main class="h-screen bg-[#121212] w-full overflow-y-auto overflow-hidden [grid-area:main]">
		<div class="w-full py-4 px-2">
		<Slider/>
		</div>
		<Product/>
	</main>
</Layout>

