---

interface Props {
	title: string;
    icono : string;
    route : string;
}

const { title, icono , route } = Astro.props
---

<li class="hover:bg-[#ffffff20] transition-colors duration-200 rounded-sm">
    <a href={route}>
       <div class="flex items-center gap-x-2 px-3 py-3 ">
            <div class="flex justify-center items-center">
                <img src={icono} alt="">
            </div>
            <div>
              <p class="font-semibold">{title}</p>
            </div>
        </div>
    </a>
</li>