---
import IconStore from '../../Icons/IconStore.astro'
---

<div class="relative rounded-lg overflow-hidden w-full h-[330px] bg-gradient-to-b from-gray-900 to-[#A100ED]">


    <div class="flex items-center justify-c px-8 h-full w-full ">
        <div class="flex-grow w-full">
           <div class="w-[340px]">
            <h2 class="font-bold text-3xl ">
                [Oculus <span class="text-[#A100ED]">VR</span>] Virtual Reality
               </h2>
               <p class="py-2 ">VR box 360 original complete geme.VR gaming complete set of 2 remotes.</p>
           </div>
           <button class="flex justify-center gap-x-3 px-4 rounded-lg overflow-hidden mt-3 items-center bg-white py-2">
             <IconStore/>
             <span class="text-black">Order Now</span>
           </button>
        </div>
        <div class="min-h-full w-full h-full">
            <img 
            src="../../../img/vision.png" 
            alt="" 
            class="w-full h-full object-contain">
        </div>
    </div>
</div>